<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add</title>
<!-- Bootstrap Core CSS -->
<link href="education/css/bootstrap.css" rel="stylesheet">
<link href="../../dist/css/vendor/bootstrap.min.css" rel="stylesheet">
<!-- Loading Flat UI -->
<link href="education/css/flat-ui.css" rel="stylesheet">
<!-- Custom CSS -->
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet prefetch">
<link href="education/css/style.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top drop-shadow"
		role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<span class="navbar-brand" style="color: #FFFFFF">Linked<strong>Us</strong>.org
				</span>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown active"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"> <i
							class="fa fa-user"></i>&nbsp;&nbsp; Profile <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="education/profile.html"> View Profile </a></li>
							<li><a href="education/edit-profile.html"> Edit Profile
							</a></li>
							<li><a href="education/upload.html"> Upload Resume </a></li>
						</ul></li>
					<li><a href="education/account.html"> <i
							class="fa fa-briefcase"></i>&nbsp;&nbsp;Jobs
					</a></li>
					<li><a href="education/account.html"> <i
							class="fa fa-gear"></i>&nbsp;&nbsp;Account
					</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	<!-- Page Content -->

	<section class="content" style="padding-top: 80px;">
		<div class="container">
			<!-- main content -->

			<!--Skills-->
			<div class="panel panel-default">
				<div class="panel-heading" id="">
					<h3 class="panel-title">Add Skills</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="row">
							<div class="col-sm-12 row-space-1">
								<div id="">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 row-space-1">
								<div id="">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 row-space-1">
								<div id="">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
			<div class="row row-space-top-3">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<button class="btn btn-primary btn-wide text-capitalize"
						type="submit">Save</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a ng-click="cancelForm()"
						class="btn btn-link-underline btn-default"> Cancel </a>
				</div>
			</div>
			<br>
			<br>
			<br>
			<!--Skills-->
			<div class="panel panel-default">
				<div class="panel-heading" id="">
					<h3 class="panel-title">Add Tools</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="row">
							<div class="col-sm-12 row-space-1">
								<div id="">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 row-space-1">
								<div id="">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 row-space-1">
								<div id="">
									<input type="text" class="form-control" id="" placeholder="">
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
			<div class="row row-space-top-3">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<button class="btn btn-primary btn-wide text-capitalize"
						type="submit">Save</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a ng-click="cancelForm()"
						class="btn btn-link-underline btn-default"> Cancel </a>
				</div>
			</div>
			<br>
			<br>
			<br>
		</div>
	</section>
</body>
</html>